
@font-face {
    font-family: ‘Roboto-google’;
    font-style: normal;
    font-weight: 700;
    src: url(‘chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf’); 
}

.timer-overlay-extension{
    font-family: "Roboto-google" !important;
    position: fixed;
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    bottom: 25px;
    right: 25px;
    width: 15%;
    height: 70px;
    background-color: white;
    z-index: 2002;
    font-size:18px;
    cursor: move;
}

.timer-overlay-extension h1{
    font-weight: 700  !important;
    font-size: 2em !important;

        
}

.timer-overlay-extension #RestartButton_timer_extension{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 1px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;

    color: #fff;
    background-color: #295FDB;
    border-color: #2454c4;
    
}

